:root {
    --primary: #04213C;
    --secondary: #FCDCBC;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
    display: inline-block;
}