:root {
  --primary: #04213c;
  --secondary: #fcdcbc;
}

.navbar {
  margin-top: 28px;
  background-color: var(--primary);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.fa-bars {
  color: var(--secondary);
}

@media screen and (min-width: 960px) {
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px;
    gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: space-between;
  }

  .nav-links {
    color: var(--secondary);
    align-items: center;
    text-decoration: none;
    height: 100%;
  }

  .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: -100%;
    width: 0%;
    opacity: 0;
    transition: all 1s ease;
    background: var(--primary);
    gap: 0px;
  }

  .nav-menu-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0px;
    opacity: 1;
    width: 100%;
    transition: all 1s ease;
    background: var(--primary);
    list-style: none;
  }

  .nav-links {
    color: var(--secondary);
    text-decoration: none;
    height: 100%;
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: darkblue;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, 30%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: var(--secondary);
    font-size: 2rem;
  }

  /* .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  } */
}
